<div class="mx-auto max-w-sm">
  <.header class="text-center">
    Register for an account
    <:subtitle>
      Already registered?
      <.link navigate={~p"/users/log_in"} class="font-semibold text-brand hover:underline">
        Log in
      </.link>
      to your account now.
    </:subtitle>
  </.header>

  <.form :let={f} for={@changeset} action={~p"/users/register"}>
    <%= if @changeset.action == :insert do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <.input field={f[:email]} type="email" label="Email" required />
    <.input field={f[:password]} type="password" label="Password" required />

    <div class="mt-2">
      <.button phx-disable-with="Creating account..." class="w-full">
        Create an account
      </.button>
    </div>
  </.form>
</div>
